pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;   /* Modern browsers */
    max-width: 100%;
    overflow: auto;
}

/* Light Mode */
body:not(.colorscheme-dark) pre {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    overflow: auto;
}

/* Dark Mode */
body.colorscheme-dark pre {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    overflow: auto;
}


.content header h1 {
    margin-bottom: 15px !important;
}