body {
  background-color: #f5f5f5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.8;
}

a {
  color: #1e88e5;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
}

.hero h1 {
  margin-left: 25px;
  margin-right: 25px;
}

a:hover {
  color: #43a047;
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
}

main {
  max-width: 750px;
  margin: 2rem auto;
  padding: 0 20px;
  position: relative;
}

article {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.time {
  color: #777;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 1rem;
}

.badge {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  background-color: #1e88e5;
  color: white;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.badges {
  margin-top: 1.5rem;
}

/* Typography */
h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

/* Back button */
.back-btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: #777;
  background-color: transparent;
  border: 1px solid #777;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 5px 15px;
}

.back-btn:hover {
  background-color: #777;
  color: white;
  text-decoration: none;
}

/* Hero section */
.hero {
  position: relative;
  padding: 4rem 0;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  overflow: hidden;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  z-index: 3;
  position: relative;
}

.hero time {
  color: #999;
  font-size: 1rem;
  margin-bottom: 0;
  z-index: 3;
  position: relative;
}

/* Particle network canvas */
.network-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}