<section class="container centered">
    <div>

        <section class="container list">
            <div class="about">
                {{ partialCached "home/avatar.html" . }}

                <h2>{{ .Site.Params.info | markdownify }} </h2>
            </div>
        </section>

        {{ partialCached "home/extensions.html" . }}

        <section class="container list">
            {{ .Content }}
            <section class="container list">
                {{ .Content }}
                <ul>
                    {{- range .Paginator.Pages -}}
                    {{- .Render "li" -}}
                    {{- end -}}
                </ul>
            
                {{ partial "pagination.html" . }}
            </section>
        </section>
    </div>
</section>