<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700&display=swap"
        rel="stylesheet">
    <script src="/js/cyberpunk.js" defer></script>
    <script src="/js/particle-network.js" defer></script>

    {{ if .Site.GoogleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ .Site.GoogleAnalytics }}');
    </script>
    {{ end }}

    <meta name="msvalidate.01" content="D67F715F1E203962DDE8C82B119F275C" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (document.querySelector('.hero')) {
                updateParticles();
            }
        });
    </script>
</head>

<body>
    <main>
        <header>
            <h1>I Might Be Wrong</h1>
            <p>These are my personal views and do not represent anyone else. I enjoy writing quickly and exploring
                ideas, so my thoughts may evolve over time. While I stand by my current opinions, I remain open to the
                possibility of changing my mind in the future. Think of this as an unfiltered view into what goes on in
                my mind.</p>
        </header>
        {{ range where .Site.RegularPages "Section" "posts" }}
        <article>
            <h2>
                <a href="{{ .Permalink }}" class="article-link">
                    {{ .Title }}
                </a>

            </h2>
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ if .Summary }}
            <div>{{ .Summary }}</div>
            {{ end }}
            <div>
                {{ range .Params.keywords }}
                <span class="badge">{{ . }}</span>
                {{ end }}
            </div>
        </article>
        {{ end }}
    </main>
</body>

</html>